body{
    background-image:url("t-removebg-preview.png") ;
    text-align: center;
    background-color: black;
    color: white;
}

#umar{
    background-color: black;
    border-color: red;
    border-style: groove;    
    border-width: 7px;
    font-size:x-large;
    font-family: 'Permanent Marker', cursive;
}












